body {
  margin: 0;
  font-family: "Arimo", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: #f8f9fa;
  color: #212529;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(29, 45, 53, 0);
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style: none;
  padding: 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid #dee2e6;
  background-color: #ffffff;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
}

.navbar-nav {
  margin-bottom: 0;
  display: flex;
}

.navbar-nav li {
  display: inline-flex;
  margin-right: 10px;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.logo {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #f8f9fa;
  padding: 1rem 0;
  border-top: 1px solid #dee2e6;
}

footer ul {
  display: inline-block;
}

footer ul li {
  display: inline-flex;
  align-items: center;
  margin: 0 5px;
  list-style: none;
}

footer ul li:not(:last-child) {
  border-right: 1px solid #ccc;
  padding-right: 5px;
  height: 15px;
}

.card {
  background: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
  margin-bottom: 1.5rem;
}

.card-header {
  padding: .75rem 1.25rem;
  border-bottom: 1px solid #dee2e6;
}

.card-title {
  margin-bottom: .75rem;
}

.card-description {
  margin-bottom: 0;
  color: #6c757d;
}

.card-content {
  padding: 1.25rem;
}

.card-footer {
  padding: .75rem 1.25rem;
  background-color: #f7f7f7;
  border-top: 1px solid #dee2e6;
}

.label {
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: 500;
}

.input {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #007bff;
  border: 1px solid #007bff;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:hover {
  color: #fff;
  background-color: #0056b3;
  border-color: #004085;
}

